@import "src/styles/variables";
@import "src/styles/media";

.a {
  color: $text-color;
  text-decoration: none;
  font-weight: 500;
  font-family: $Raleway-regular-font;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.6s ease;
}

.a:hover {
  transform: translateY(1.5px);
  color: $accent-and-titles-color;
}