@import "../../../../../styles/variables";

.a {
  color: $text-color;
  text-decoration: none;
  font-weight: 500;
  font-family: $menu-front;
  font-size: $desktop-menu-font-size;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.6s ease;
}

.a:hover {
  transform: translateY(1.5px);
  color: $accent-and-titles-color;
}
@media screen and (max-width: $tablet-screen-size) {

}

@media screen and (max-width: $mobile-screen-size) {
  .a {
    font-size: $mobile-menu-font-size;
  }
}