.button {
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;

  .normalImg {
    display: block;
  }

  .hoverImg {
    display: none;
  }

  &:hover {
    .normalImg {
      display: none;
    }

    .hoverImg {
      display: block;
    }
  }
}