@import "src/styles/media";

.sliderContainer {
  width: 488px;
  height: 650px;

  //border: 1px solid black;

  @include tablet-screen {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 310px;
    height: 495px;
  }

  @include mobile-screen {
    width: 327px;
    height: 380px;
  }
}

.imageContainer {
  position: relative;
  width: 488px;
  height: 604px;

  //border: 1px solid red;
  //box-sizing: border-box;

  @include tablet-screen {
    width: 310px;
    height: 403px;
  }

  @include mobile-screen {
    width: 327px;
    height: 380px;
  }
}

.image {
  position: absolute;
  object-fit: cover;
  width: 488px;
  height: 604px;
  border-radius: 244px 244px 0 0;

  @include tablet-screen {
    width: 310px;
    height: 403px;
  }

  @include mobile-screen {
    width: 327px;
    height: 380px;
  }
}

.imageHidden {
  opacity: 0;
}

.navigationContainer {
  width: 488px;
  height: 34px;
  margin-top: 12px;
  display: flex;
  align-items: center;

  //border: 1px solid red;
  //box-sizing: border-box;

  @include tablet-screen {
    width: 310px;
    margin-top: 32px;
  }

  @include mobile-screen {
    display: none;
  }
}

.numbersStatusBarContainer {
  width: 26px;
  height: 19px;
  margin-right: 19px;

  //border: 1px solid red;
  //box-sizing: border-box;

  @include tablet-screen {
    margin-right: 10px;
  }
}

.statusBarContainer {
  flex: 1;
}

.buttonStatusBarContainer {
  margin-left: 26px;

  @include tablet-screen {
    margin-left: 5px;
  }
}
