@import "src/styles/variables";
@import "src/styles/media";

.H3 {
  font-family: $Raleway-regular-font;
  font-size: 24px;
  font-weight: 600;
  line-height: 31.2px;
  color: $H3-text-color;

  @include tablet-screen {
    font-size: 15px;
    line-height: 19.5px;
  }

  @include mobile-screen {
    font-size: 15px;
    line-height: 19.5px;
  }
}