@import "variables";

.commonContainer {
  margin: 0 auto;
  height: 100%;
  max-width: 1194px;
  padding: 0 24px;
}

@media screen and (max-width: $mobile-screen-size) {
  .commonContainer {
    padding: 0 20px;
  }
}