@import "variables";
@import "media";

.commonContainer {
  margin: 0 auto;
  height: 100%;
  max-width: $desktop-screen-size;
  padding: 0 200px;
  box-sizing: border-box;

  @include tablet-screen {
    max-width: $tablet-screen-size;
    padding: 0 36px;
  }

  @include mobile-screen {
    max-width: $mobile-screen-size;
    padding: 0 24px;
  }
}

