@font-face {
  font-family: 'BookMan regular';
  src: url("../assets/fonts/BookMan-regular.ttf");
}

@font-face {
  font-family: 'Bookman Old Style';
  src: url("../assets/fonts/Bookman-old_style.ttf");
}

@font-face {
  font-family: 'NewYorkerC regular';
  src: url("../assets/fonts/NewYorkerC-regular.ttf");
}

@font-face {
  font-family: 'Raleway regular';
  src: url("../assets/fonts/Raleway-regular.ttf");
}

@font-face {
  font-family: 'Raleway semi bold';
  src: url("../assets/fonts/Raleway-semi_bold.ttf");
}