@font-face {
  font-family: 'BookMan regular';
  src: url("../assets/fonts/BookMan-regular.ttf");
}

@font-face {
  font-family: 'NewYorkerC regular';
  src: url("../assets/fonts/NewYorkerC-regular.ttf");
}

@font-face {
  font-family: 'Raleway regular';
  src: url("../assets/fonts/Raleway-regular.ttf");
}