@import "fonts";

// Colors
$accent-and-titles-color: #637d61;
$background-and-text-color: #fefbf7;
$opacity-color: #CBC9C1;
$secondary-color: #98958b;
$text-color: #5b6158;

// Fonts
$Bookman-OldStyle-font: "Bookman Old Style";
$NewYorkerC-regular-font: "NewYorkerC regular";
$Raleway-regular-font: "Raleway regular";

// screen-sizes
$desktop-screen-size: 1600px;
$tablet-screen-size: 768px;
$mobile-screen-size: 375px;