@import "fonts";

// Colors
$accent-and-titles-color: #637d61;
$background-and-text-color: #fefbf7;
$secondary-color: #98958b;
$text-color: #5b6158;

// Fonts
$menu-front: "Raleway regular";
$menu-logo-front: "Bookman Old Style";
$H1-front: "NewYorkerC regular";
$P1-front: "Raleway regular";

$NewYorkerC-regular-font: "NewYorkerC regular";
$Raleway-regular-font: "Raleway regular";


// Fonts size desktop
$desktop-menu-font-size: 13px;
//$desktop-menu-logo-font-size: 12px;
//$desktop-menu-phone-font-size: 15px;

// Fonts size mobile
$mobile-menu-font-size: 13px;
//$mobile-menu-logo-font-size: 10.29px;
//$mobile-menu-phone-font-size: 12px;

// screen-sizes
$desktop-screen-size: 1194px;
$tablet-screen-size: 768px;
$mobile-screen-size: 375px;