@import "src/styles/variables";
@import "src/styles/media";

.numbersContainer {
  font-family: $Raleway-regular-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  letter-spacing: 0.07em;
}

.currentNumber {
  color: $accent-and-titles-color;
}

.maxNumber {
  color: $text-color;
}