html,
body,
ul,
ol {
    margin:  0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #FEFBF7;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

