@import "src/styles/variables";

.statusBarContainer {
  position: relative;
  height: 100%;
}

.line {
  transform: translateY(-1px);
  top: 50%;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $opacity-color;
}

.lineAccented {
  transform: translateY(-1px);
  top: 50%;
  position: absolute;
  height: 1px;
  background-color: $accent-and-titles-color;
}